
<form class="login-form">
    <h2>Login</h2>
    <div>
        <label for="login-username"> Username: </label>
        <input type="text" id="login-username">
    </div>
    <div>
        <label for="login-pw"> Password: </label>
        <input type="password" id="login-password">
    </div>
    <div>
        <button id="loginuser-btn" type="submit">Login</button>
    </div>
</form>

<form class="create-form">
    <h2>Create Account</h2>
    <div>
        <label for="create-username"> New Username: </label>
        <input type="text" id="create-username">
    </div>
    <div>
        <label for="create-pw"> New Password: </label>
        <input type="text" id="create-password">
    </div>
    <div>
        <button id="createacc-btn" type="submit"> Create Account</button>
    </div>
</form>


<script src="/js/login.js"></script>